

<div class="px-2 py-3">
    <div class="chart-container" style="position: relative; height:40vh; width:40vw">
        <div>
            <canvas id="myChart-<%= id %>"></canvas>
        </div>
    </div>
  <script>
    let ctx = document.getElementById('myChart-<%= id %>');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [<%= results.map((item) => item[0]) %>],
        datasets: [{
          label: '# of Votes',
          data: [<%= results.map((item) => item[1]) %>],
          borderWidth: 1
        }]
      },
      options: {
        indexAxis: 'y',
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
  
  
  