<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Closed</title>
  </head>
  <body class="flex flex-col items-center justify-center h-full w-full">
    <h1>Election is not started yet</h1>
  </body>
</html>
