<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign up</title>
  </head>

  <body>
    <div class="bg-blue-400 font-sans text-2xl">
      <div class="flex flex-row justify-between pr-4">
        <h1 class="w-3/5 p-5 text-white">New here, Sign-up</h1>
      </div>
    </div>
    <div class="grid grid-cols-6 p-3 gap-2">
      <div class="col-start-3 col-span-2">
        <form action="/admins" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="firstName">First name</label>
            <input
              name="firstName"
              type="text"
              class="rounded border-2 border-gray-500 p-2 w-full text-gray-900"
            />
          </div>
          <div class="py-3">
            <label for="lastName">Last name</label>
            <input
              name="lastName"
              type="text"
              class="rounded border-2 border-gray-500 p-2 w-full text-gray-900"
            />
          </div>
          <div class="py-3">
            <label for="email">Email</label>
            <input
              name="email"
              type="email"
              class="rounded border-2 border-gray-500 p-2 w-full text-gray-900"
            />
          </div>
          <div class="py-3">
            <label for="password">Password</label>
            <input
              name="password"
              type="password"
              class="rounded border-2 border-gray-500 p-2 w-full text-gray-900"
            />
          </div>
          <div class="py-3 flex flex-row">
            <button
              type="submit"
              class="py-2 px-6 rounded font-medium bg-blue-500 hover:bg-blue-600"
            >
              Sign Up
            </button>
            <p class="py-2 px-4">
              Already a member? <a href="/login">Sign-in</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
