<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Already voted</title>
  </head>
  <body class="bg-purple-200">
    <div class="grid grid-rows-5 gap-2 h-screen">
      <div class="row-start-3 flex flex-row justify-center">
        <h1 class="text-3xl text-indigo-900">
          You have already voted in this election, Please wait for results
        </h1>
      </div>
    </div>
  </body>
</html>
